apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klage-oppgave-api
  namespace: klage
  labels:
    team: klage
spec:
  image: {{ image }}
  gcp:
    sqlInstances:
      - name: klage-oppgave-api
        type: POSTGRES_12
        tier: {{ db_tier }}
        diskType: SSD
        highAvailability: {{ db_ha }}
        diskSize: {{ db_size }}
        diskAutoresize: true
        autoBackupTime: "03:00"
        cascadingDelete: false
        databases:
          - name: klage-oppgave-api
  azure:
    application:
      enabled: true
      tenant: {{tenant}}
      claims:
        extra:
          - NAVident
  elastic:
    instance: oppgave-es
  port: 7081
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  ingresses:
    - {{ingress}}
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /internal/prometheus
  secureLogs:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: klage-oppgave
        - application: klage-oppgave-consumer
    outbound:
      rules:
        - application: klage-redis
      external:
      {{#each externalHosts as |host|}}
        - host: {{host}}
      {{/each}}
  envFrom:
    - secret: srvklage-saksbeh
    - secret: sts-apikey
    - secret: pdl-apikey
    - secret: oppgave-apikey
    - secret: slack-url
    - secret: slack-channel-id
    - secret: norg2
    - secret: axsys
    - secret: elastic
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
