apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: kabal-api
  namespace: klage
  labels:
    team: klage
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100M"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
spec:
  image: {{ image }}
  gcp:
    sqlInstances:
      - name: kabal-api
        type: POSTGRES_12
        maintenanceWindow:
          day: 1
          hour: 4
        tier: {{ db_tier }}
        diskType: SSD
        highAvailability: {{ db_ha }}
        diskSize: {{ db_size }}
        diskAutoresize: true
        autoBackupTime: "02:00"
        cascadingDelete: false
        databases:
          - name: kabal-api
  azure:
    application:
      enabled: true
      tenant: {{tenant}}
      claims:
        groups:
          - id: {{ROLE_KLAGE_SAKSBEHANDLER}}
          - id: {{ROLE_KLAGE_FAGANSVARLIG}}
          - id: {{ROLE_KLAGE_LEDER}}
          - id: {{ROLE_KLAGE_MERKANTIL}}
          - id: {{ROLE_KLAGE_FORTROLIG}}
          - id: {{ROLE_KLAGE_STRENGT_FORTROLIG}}
          - id: {{ROLE_KLAGE_EGEN_ANSATT}}
          {{#if ROLE_ADMIN}}
          - id: {{ROLE_ADMIN}}
          {{/if}}
        extra:
          - NAVident
  kafka:
    pool: {{kafka_pool}}
  port: 7081
  startup:
    failureThreshold: 20
    initialDelay: 30
    path: /internal/health
    periodSeconds: 10
    timeout: 2
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      cpu: 2000m
      memory: 5000Mi
    requests:
      cpu: 2000m
      memory: 5000Mi
  ingresses:
  {{#each ingresses as |ingress|}}
    - {{ingress}}
  {{/each}}
  replicas:
    min: 2
    max: 2
    cpuThresholdPercentage: 80
  prometheus:
    enabled: true
    path: /internal/prometheus
  secureLogs:
    enabled: true
  accessPolicy:
    inbound:
      rules:
      {{#each inboundApplications as |inbound|}}
        - application: {{inbound.application}}
#        {{#if inbound.namespace}}
          namespace: {{inbound.namespace}}
#        {{/if}}
#        {{#if inbound.cluster}}
          cluster: {{inbound.cluster}}
#        {{/if}}
      {{/each}}
    outbound:
      rules:
        - application: kabal-document
        - application: kaka-api
      external:
      {{#each externalHosts}}
        - host: {{host}}
          {{#if ports}}
          ports:
            {{#each ports}}
            - name: {{name}}
              port: {{port}}
              protocol: {{protocol}}
            {{/each}}
          {{/if}}
      {{/each}}
  envFrom:
    - secret: srvklage-saksbeh
    - secret: sts-apikey
    - secret: pdl-apikey
    - secret: oppgave-apikey
    - secret: slack-url
    - secret: slack-channel-id
    - secret: norg2
    - secret: axsys
    - secret: elastic
    - secret: ereg
    - secret: influx
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
  {{#each envs}}
    - name: {{name}}
      value: {{value}}
  {{/each}}
